.antTable {
    width: 100%;
}

.antTable th {
    text-align: left;
    padding: 8px;
    width: 0%;
}

.antTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Adjust the table layout for smaller screens */
@media screen and (max-width: 600px) {

    .antTable th,
    .antTable td {
        padding: 4px;
    }
}
